*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore lambda hello_world.py so that the IaC pipeline doesn't upload the lambda code, effectively overwriting the code (that we want to manage in another pipeline)
lambda/hello_world.py